<!DOCTYPE html>
<html>
<head>
  <!-- In your main layout file (e.g., src/views/layouts/main.hbs) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  {{{body}}}
</body>
</html>
