{{#if message}}
  <div class="alert alert-{{#if error}}danger{{else}}success{{/if}}" role="alert">
    {{ message }}
  </div>
<<<<<<< HEAD
{{/if}}
=======
{{/if}}
>>>>>>> 670c9cf (fixed database generation issue)
