<h1>Coding Exercises:</h1>

<div class = "type-buttons">
    <button formmethod="get" formaction = "/coding">1300</button>
    <button formmethod="get" formaction = "/coding">2270</button>
    <button formmethod="get" formaction = "/coding">2400</button>
    <button formmethod="get" formaction = "/coding">Algorithms</button>

    <button id = "timer" type = "submit" onclick = "startCountdown()" formmethod = "post" formaction = "/coding">Start Timer</button>
</div>
<div class = "grid-container">
    <div class = "grid-item">
        <p>Description</p>
        {{question_descript}}
    </div>
    <div class = "grid-item">
        <div class = "code-textbox">
            <form method="post" action="/coding" id = "codingExercise">
                <input type = "text" id = "question_id" name = "question_id" value = {{question_id}}/>
                <textarea id = "code" name = "code" cols = "75" rows = "25" placeholder = "Start Coding Here..."></textarea><br />
                <input type="submit" id = "submit-button" name = "submit-button" value = "Submit"/>
            </form>
        </div>
        {{>passed}}
    </div>
</div>