<h1>Coding Exercises:</h1>

<div class = "type-buttons">
    <button>Introduction to CS</button>
    <button>Data Structures</button>
    <button>Computer Systems</button>
    <button>Algorithms</button>

    <button id = "timer" type = "submit" onclick = "startCountdown()" formmethod = "post" formaction = "/codingExercise">Start Timer</button>
</div>