<h1>Coding Exercises:</h1>
<div class="type-buttons d-flex flex-wrap gap-3 my-4">
  <button class="btn btn-primary btn-lg px-4" formmethod="get" formaction="/coding">1300</button>
  <button class="btn btn-primary btn-lg px-4" formmethod="get" formaction="/coding">2270</button>
  <button class="btn btn-primary btn-lg px-4" formmethod="get" formaction="/coding">2400</button>
  <button class="btn btn-primary btn-lg px-4" formmethod="get" formaction="/coding">3104</button>
</div>
<div class = "timer-buttons">
    <button id = "timer" class="btn btn-outline-dark btn-lg px-5 py-3" type = "submit" onclick = "startCountdown()">Start Timer</button>
</div>
</div>
    {{>passed}}
</div>
<div class="row">
  <div class="col-md-6 mb-4">
    <div class="border rounded p-3 bg-white h-100">
      <h5>Description</h5>
      <p class="text-break" style="white-space: pre-line;">{{ question_descript }}</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="border rounded p-3 h-100 bg-white">
      <form method="post" action="/coding" id="codingExercise">
        <input type="hidden" id="question_id" name="question_id" value="{{question_id}}">
        <input type="hidden" name="time_taken" id="time_taken" value="0">
        <textarea id="code" name="code" class="form-control mb-3" rows="15" placeholder="Start Coding Here..."></textarea>
        <input type="submit" id="submit-button" name="submit-button" onclick="beforeSubmit()" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
