<div class = "container">
    <div class = "column">
        <p>Description goes here...</p>
    </div>
    <div class = "column">
        <div class = "code-textbox">
            <form method="post" action="/codingExercise" id = "codingExercise">
                <label for="code">Start Coding Here:</label>
                <input type="text" id="code" name = "code" style = "width: 50%;" rows = "20"/><br />
                <input type="submit" id = "submit-button" value = "Submit"/>
            </form>
        </div>
    </div>
</div>