<div class="container">
    <h1>Flashcards Overview</h1>
</div>

{{!-- Input json array of user's flashcards objects --}}
{{#each group}}
<div class="container">
  <div class="row">
    <h2>{{name}}</h2>

    {{#each card}}

    <div class="container">
        <div class="col">
            <div class="card flashcard">
                <div class="card-body">
                    {{!-- Switch between card sides --}}
                    {{#if show_front}}
                        <h1>{{front}}</h1>
                    {{else}}
                        <p>{{back}}</p>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>
    
    {{/each}}

  </div>
</div>
{{/each}}